::ng-deep .mat-form-field-underline {
    /*display: none;
    */
}
.template-item{
    color: black;
}
.template-item:hover{
    color: darkgrey;
}
.my-view {
    /*
    background-color: grey; 
    */
}